.module-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.module {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 40em;
  height: inherit;
}

.module .btn {
  display: block;
  margin: auto
}

.btn {
  background-color: #1a237e;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 50%;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-right:1rem;
}

.form-group label {
  margin-bottom: 0.2rem;
}